html, body {
  height: 100%;
  margin: 0;
  padding: 0;
	background-color: green;
}

#nav {
	height: 100%;
	width: 20%;
	position: absolute;
	background-color: white;
}

#map {
  height: 100%;
	width: 80%;
	position: absolute;
	right: 0px;
}
