html, body {
  height: 100%;
  margin: 0;
  padding: 0;
	background-color: green;
}

#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	background-color: white;
	overflow-x: hidden;
	transition: .5s;
}
#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.trigger {
	position: absolute;
	z-index: 99;
	top: 30px;
	left: 30px;
}

#map {
  height: 100%;
	width: 100%;
	z-index: 0;
	position: absolute;
	right: 0px;
}
